<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Path-dependent option data pipeline</title>
</head>
<body>
<div class="nk-container">
	<header class="bg-dark sticky-top">
		Output a pipeline of generated path-dependent options for real-world stocks
		Be advised that the latest date in the database is 2021-06-31
	</header>

	<div class="main">
		<form class="form-inline mt-3" method="post" th:action="@{/path-dependent/time-series-data/exec}">
			<pre>

Start date:      				<input type="date" id="startDate" name="startDate" th:value="${#temporals.format(startDateV,'yyyy-MM-dd')}" required>

End date:        				<input type="date" id="endDate" name="endDate" th:value="${#temporals.format(endDateV,'yyyy-MM-dd')}" required>

Ticker:          				<input type="text" id="ticker" name="ticker" th:value="${tickerV}" required>

Number of simulations:				<input type="number" id="nSim" name="nSim" th:value="${nSimV}" required>

Volatility:          				<input type="number" id="sigma" name="sigma" step="any" th:value="${sigmaV}" required>

Interest rate:					<input type="number" id="r" name="r" step="any" th:value="${rV}" required>

Option type:					<input type="text" id="optionTypeS" name="optionTypeS" th:value="${optionTypeS}" required>

Call or put:					<input type="text" id="callPutS" name="callPutS" th:value="${callPutS}" required>


<button type="submit" class="btn btn-primary ml-3">Calculate</button> 					Execution time: <label id="exeTime" name="exeTime" th:text="${exeTimeV}" >0</label>s
			</pre>
		</form>
		<table border="1">
			<tr>
				<th>Time</th>
				<th>Ticker</th>
				<th>Stock price</th>
				<th>Time to expiration</th>
				<th>Strike</th>
				<th>Option type</th>
				<th>Call or put</th>
				<th>Option price</th>
			</tr>
			<th:block th:each="map:${optionVOList}">
				<tr>
					<td th:text="${map.date}">2000-01-01</td>
					<td th:text="${map.ticker}">AAPL</td>
					<td th:text="${map.stockPrice}">20</td>
					<td th:text="${map.T}">1</td>
					<td th:text="${map.K}">20</td>
					<td th:text="${map.optionType}">Asian</td>
					<td th:text="${map.callPut}">Call</td>
					<td th:text="${map.optionPrice}">20</td>
				</tr>
			</th:block>
		</table>
	</div>

	<footer class="bg-dark">
	</footer>
</div>

<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>

